<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ends</th>
      <th>Current Price</th>
      <th>Min Bid Required</th>
      <th>My Snipe</th>
    </tr>
  </thead>
  <tbody>
    <% @ebay_items.each do |ebay_item| %>
      <tr>
        <td><%= link_to ebay_item, ebay_item.url %></td>
        <td><%= ebay_item.ends_at %></td>
        <td><%= ebay_item.bid_price %></td>
        <td><%= ebay_item.min_bid_price %></td>
        <td><%= @ebay_bids.where(ebay_item: ebay_item).try(:last) %></td>
      </tr>
    <% end %>
  </tbody>
</table>